$primary-text-color: #a7a7a7;
$secondary-text-color: #ffffff;
$tertiary-text-color: #af8d6c;

$mobile-width: 370px;
$tablet-width: 768px;
$desktop-width: 1200px;

$main-border-color: rgba(101, 101, 101, 0.5);

$main-background-color: rgba(37, 37, 37, 0.6);
