.filterBlock {
  width: 400px;
  height: 104px;
  display: flex;
  flex-direction: row;
  padding: 4px;
  gap: 16px;
  background-color: $main-background-color;
  backdrop-filter: blur(2px);
  border-radius: 16px;
  border: 1px solid rgba(37, 37, 37, 0.6);

  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  -webkit-overflow-scrolling: touch;

  @media (min-width: $tablet-width) {
    overflow-x: visible;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    height: 87px;
    justify-content: space-between;
  }
}

.filterItem {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;

  &.active {
    border: 1px solid rgba(197, 164, 132, 0.5);
    & > .label {
      color: $secondary-text-color;
    }
  }

  @media (min-width: $tablet-width) {
    width: 216px;
  }
  @media (min-width: $desktop-width) {
    width: 349px;
  }
}

.number {
  font-size: 12px;
  color: $tertiary-text-color;
  margin-bottom: 16px;
}

.label {
  font-size: 14px;
  line-height: 1.2;
  color: $primary-text-color;
}
