.progressBar {
  width: 100%;
  height: 4px;
  display: flex;
  flex-direction: row;
  background-color: #535353;
  overflow: hidden;
}

.unlockedProgress {
  background: linear-gradient(
    270deg,
    rgb(213, 186, 148) 0%,
    rgb(185, 135, 86) 50%,
    rgb(83, 68, 52) 100%
  );
}
